/* You can add global styles to this file, and also import other style files */
.btn-primary {
  background-color: #e67e22 !important;
  border-color: #e67e22 !important;
}

.btn-primary:hover {
  background-color: #ca6f1e !important;
  border-color: #ca6f1e !important;
}

.page-link.active, .page-link:hover {
  background-color: #e67e22 !important;
  border-color: #e67e22 !important;
  color: white !important;
}